* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: Sono, sans-serif;
  padding: 48px 64px;
}

form {
  background-color: #57534e;
  margin-bottom: 40px;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
}

form input,
form select {
  width: 220px;
  background-color: #78716c;
  color: inherit;
  border: none;
  border-radius: 50px;
  padding: 16px;
  font-size: 18px;
}

form input::placeholder {
  color: #a8a29e;
}

form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

form input:first-child {
  flex-grow: 1;
}

.logo img {
  height: 68px;
  width: 68px;
}

ul {
  list-style: none;
}

h1 {
  white-space: nowrap;
  font-size: 42px;
  text-transform: uppercase;
  font-family: Coiny, sans-serif;
  text-align: center;
  line-height: 1;
  margin-top: 6px;
}

.btn {
  font-family: Coiny, "sans-serif";
  line-height: 1;
  color: inherit;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  border: none;
  background-image: linear-gradient(135deg, blue, red, green, yellow);
  border-radius: 50px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
  cursor: pointer;
}

.btn-group {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.btn-group button {
  border-radius: 50px;
  padding: 6px 10px;
  background-color: #78716c;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-group button:hover {
  background-color: #292524;
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-categories {
  width: 100%;
  background-image: none;
}

.category {
  margin-bottom: 16px;
}

/* grid */
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 60px;
}
/* 
Main layout, easy way to center the all the contents of the page */
#id {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* flex */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* 
better option than fixed/float right to get buttons to stay on the right side */

.fact {
  border-radius: 16px;
  display: flex;
  font-size: 20px;
  line-height: 1.4;
  background-color: #57534e;
  margin-bottom: 16px;
  padding: 16px 24px;
  align-items: center;
  gap: 24px;
}

.letter {
  letter-spacing: -1px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Coiny;
  border-radius: 50px;
  padding: 7px 10px 3px;
}

.source:link,
.source:visited {
  color: #a3a3a3;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover {
  color: #3b82f6;
}

.source:active {
  color: green;
}

/* static styles */
#tech {
  background-color: #3b82f6;
  padding: 10px;
}

#society {
  background-color: #eab308;
  padding: 10px;
}

/* responsive web design using media query */
@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }
  form {
    flex-direction: column;
    align-items: stretch;
  }

  form input,
  form select {
    width: auto;
  }

  .main {
    /* display: flex;
    flex-direction: column; */

    grid-template-columns: 1fr;
  }

  .btn-large {
    font-size: 17px;
    padding: 17px 28px 14px;
  }

  .btn:hover {
    transform: scale(100%) rotate(0);
    cursor: pointer;
  }
}

@media (max-width: 789px) {
  .header {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
    padding: 0;
    align-items: stretch;
  }

  .header button {
    width: 100%;
  }

  h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: Coiny, sans-serif;
    line-height: 1;
    margin-top: 6px;
  }

  .logo {
    gap: 5px;
  }

  .logo img {
    height: 48px;
    width: 48px;
  }
}
